@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
body{
    background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;
    color: white;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}